* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 1440px;
    margin: 0;
    background-color: #000000;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    margin-top: -41px;
    width: 100vw;
    height: 200px;
    color: #FFFFFF;
    position: fixed;
    z-index: 1;
    background-color: #000000;
}

.logo a img {
    margin-right: 100px;
}

#mas:hover {
    pointer-events: none;
}

ul {
    display: flex;
    flex-direction: row;
    margin-right: 160px;
    list-style: none;
    justify-content: space-between;
    width: 1400px;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    display: none;
    background: transparent;
    width: 10%;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    text-align: left;
    padding-top: 10px;
}

ul li ul li {
    clear: both;
    text-align: left;
    margin-bottom: 10px;
    border-style: none;
}

ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #FFA500;
    transition: all 0.3s ease;
}

ul li a:hover {
    color: #FFA500;
}

.logo img {
    width: auto;
    height: 60px;
    margin-left: 150px;
}

#logoVertical {
    display: none;
}

#burger {
    display: none;
}

main {
    background-image: url('../images/main.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 1100px;
    /* border: solid red; */
}

main h2 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 50px;
    margin-bottom: 0;
}

main h2 br {
    display: none;
}

main h3 {
    display: flex;
    justify-content: center;
    color: #FFA500;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
}

main h3 br {
    display: none;
}

main button {
    color: #FFFFFF;
    background-color: #FFA500;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}

.homeButton {
    position: static;
    width: 560px;
    text-align: end;
    margin: 10px auto;
    /* border: solid red; */
}

.homeButton button {
    cursor: pointer;
}

.all {
    width: 100vw;
    height: max-content;
    background-image: url('../images/vertical.png');
    background-repeat: no-repeat;
    background-size: 115%;
    /* background-position: 1rem; */
}

section {
    /* border: solid purple; */
    width: 100vw;
    height: max-content;
    background: rgba(255,255,255,0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
}

.subSection {
    /* border: solid salmon; */
    margin: 0px 150px;
    height: max-content;
}

.subSection h4 {
    /* border: solid orange; */
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
    padding-top: 36px;
    font-size: 30px;
}

.subSection h4 br {
    display: none;
}

.subSection h5 {
    /* border: solid orange; */
    color: #FFA500;
    font-size: 25px;
    margin: 0;
}

.aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding-top: 30px;
    padding-bottom: 60px;
    /* border: solid blue; */
}

.subaside {
    width: 22%;
    /* border: solid red; */
    height: max-content;
}

.imageContainer {
    background-color: #FFFFFF;
}

.asideImage {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    align-items: center;
    background-color: #FFFFFF;
    height: 450px;
    padding: 15%;
}

.subasideTitle {
    color: #000000;
    font-weight: bold;
    margin-top: -10%;
    font-size: 25px;
    text-align: center;
}

.subasideTitle1 {
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.subasideContent {
    margin-top: 14%;
    color: #000000;
    text-align: center;
    font-size: 14px;
    height: auto;
}

.subasideContent1 {
    margin-top: 20%;
    color: #000000;
    text-align: center;
    font-size: 14px;
}

.asideButton {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    /* border: solid blueviolet; */
    max-height: max-content;
    height: 80px;
}

.asideButton1 {
    background-color: #FFA500;
    border-radius: 10px;
    border: transparent;
    color: #FFFFFF;
    width: 70%;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
}

form {
    /* border: solid yellow; */
    width: 100vw;
    margin-top: 50px;
}

.formTitle {
    padding: 0px 153px 40px 153px;
    width: 100vw;
}

.formTitle br {
    display: none;
}

.formText {
    /* border: solid orange; */
    color: #FFFFFF;
    font-size: 30px;
    margin: 0;
}

.formText1 {
    /* border: solid orange; */
    color: #FFA500;
    font-size: 25px;
    margin: 0;
}

.formContent {
    margin: 0px 150px;
    /* border: solid brown; */
}

.formContent1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formContent2 {
    margin-top: 20px;
    width: 100%;
}

.formInput, .formInput2 {
    /* border: solid purple; */
    border: transparent;
    border-bottom: 2px solid #FFA500;
    background-color: transparent;
    color: #FFFFFF;
    width: 47%;
    font-size: 25px;
}

#formInput1 {
    /* border: solid purple; */
    border: transparent;
    outline: none;
    border-bottom: 2px solid #FFA500;
    background-color: transparent;
    color: #FFFFFF;
    width: 100%;
    font-size: 25px;
    margin-top: 40px;
}

#formInput1::-webkit-input-placeholder {
    color: #FFFFFF;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #FFFFFF;
}

.formButton {
    padding: 10px 145px;
}

.formButton input {
    cursor: pointer;
}

.submitButton {
    background-color: #FFA500;
    border-radius: 10px;
    border: transparent;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    margin-top: 40px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.sponsors {
    /* border: solid green; */
    width: 100vw;
    background: rgba(255,255,255,0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    height: 190px;
}

.sponsorsTitle {
    color: #FFFFFF;
    /* border: solid orange; */
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

.sponsorsIcons {
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 30px;
    /* border: solid olive; */
}

.sponsorsIcons img {
    cursor: pointer;
}

.twitch {
    padding-top: 12px;
    height: 80px;
}

.twitchIcon {
    width: 90px;
    height: 90px;
}

.youtube {
    /* border: solid red; */
    padding-top: 4px;
    height: 80px;
}

.youtubeIcon {
    width: 110px;
    height: 110px;
}

.linkedin {
    /* border: solid blue; */
    height: 80px;
}

.linkedinIcon {
    width: 120px;
    height: 120px;
}

.instagram {
    /* border: solid saddlebrown; */
    padding-top: 40px;
    height: 80px;
}

.instagramIcon {
    width: 40px;
    height: 40px;
}

.discord {
    /* border: solid purple; */
    padding-top: 45px;
    height: 80px;
}

.discordIcon {
    width: 100px;
    height: 30px;
}

footer {
    /* border: solid rebeccapurple; */
    text-align: center;
    width: 100vw;
}

.footerContent {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pdp a {
    color: #008BCD;
    text-decoration: none;
    /* border: solid red; */
    margin-right: 20px;
}

.tyc a {
    color: #008BCD;
    text-decoration: none;
    /* border: solid orange; */
}

.logoFooter {
    color: #FFFFFF;
    margin-top: 40px;
}

.logoFooter img {
    width: auto;
    height: 60px;
}

.acs {
    color: #FFFFFF;
    margin-top: 10px;
}

.wework {
    color: #FFFFFF;
    margin-top: 20px;
}

.copyright {
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 5px;
}

/*Media Queries*/

@media only screen
    and (min-device-width: 360px)
    and (max-device-width: 640px)
    and (-webkit-min-device-pixel-ratio: 1) {        
    
    main {
        height: 750px;
    }

    #logoVertical {
        display: block;
        height: 263px;
        margin: 0 auto;
    }

    #menu {
        z-index: 2;
    }
    
    #menu-bar {
        width: 45px;
        height: 40px;
        cursor: pointer;
        margin: 30px 20px 0px 20px;
        /* margin-top: 30px; */
        /* display: flex;
        flex-direction: column;
        margin-left: auto; */
        margin-left: auto;
    }

    #menu-bar img {
        height: 40px;
        display: block;
        /* display: flex;
        flex-direction: row;
        margin-left: auto; */
    }
    
    .bar {
        height: 5px;
        width: 100%;
        background-color: #FFFF;;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    
    #bar1 {
        transform: translateY(-4px);
    }
    
    #bar3 {
        transform: translateY(4px);
    }
    
    nav {
        position: relative;
        background-color: transparent;
    }

    .nav {
        transition: 0.3s ease;
        display: none;
        margin-top: 0px;
    }
    
    #mas:hover {
        pointer-events: all;
    }
    
    .nav ul {
        width: 100vw;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 22px;
        margin-top: 0px;
    }

    ul li a span {
        display: none;
    }

    ul li:hover > ul,
    ul li ul:hover {
        display: none;
    }

    ul li ul li {
        display: none;
    }

    ul li a:hover {
        color: #FFFFFF;
    }

    .nav li {
        list-style: none;
        padding: 12px 0;
    }
    
    .nav li a {
        color: white;
        font-size: 20px;
        /* text-decoration: none; */
    }

    .nav li a:hover {
        font-weight: bold;
    }
    
    .menu-bg, #menu {
        top: 0;
        right: 0;
        position: absolute;
    }
    
    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle, #FFA500, #FFA500);
        opacity: 90%;
        border-radius: 50%;
        transition: 0.3s ease;
    }
    
    .change {
        display: block;
    }
    
    /* .change .bar {
        background-color: #FFFFFF;
    } */
    
    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }
    
    .change #bar2 {
        opacity: 0;
    }
    
    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }
    
    .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(70%,-30%);
        position: fixed;
        transition: opacity 0.1s;
    }

    .logo img {
        display: none;
    }

    main {
        margin-top: -42px;
        margin-bottom: -100px;
    }
    
    main h2 {
        font-size: 35px;
        margin-left: 40px;
        /* border: solid red; */
    }

    main h2 br {
        display: block;
    }

    main h3 {
        font-size: 20px;
        text-align: justify;
        margin-left: 60px;
        /* border: solid red; */
    }
    
    main h3 {
        margin-right: 35px;
    }

    main h3 br {
        display: block;
    }

    .homeButton {
        text-align: center;
        margin-top: 150px;
        width: 100vw;
        /* border: solid red; */
    }

    .all {
        background-image: url('../images/vertical.png');
        background-repeat: repeat;
    }
    
    section {
        /* display: flex; */
        /* justify-content: center; */
        /* border: solid red; */
        margin-top: 100px;
    }

    .subSection {
        /* border: solid salmon; */
        margin: 0px;
        height: max-content;
        display: block;
    }

    .subSection h4 {
        margin: 0px 30px;
        font-size: 16px;
    }

    .subSection h5 {
        margin: 0px 30px;
        font-size: 12px;
    }

    .aside {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 20px 30px;
        /* border: solid red; */
    }

    .subaside {
        width: 100%;
        margin-top: 20px;
        /* background-color: red; */
    }

    .content {
        height: min-content;
    }

    .form {
        margin-top: 10px;
    }

    .formTitle {
        padding: 20px 40px;
    }

    .formText {
        font-size: 21px;
    }

    .formText1 {
        font-size: 15px;
    }

    .formContent {
        margin: 0px 40px;
        /* border: solid brown; */
    }
    
    .formContent1 {
        display: flex;
        flex-direction: column;
    }

    .formContent2 {
        display: flex;
        flex-direction: column;
        margin-top: -19px;
    }

    .formInput {
        width: 100%;
        margin-top: 10px;
    }  

    .formInput2 {
        width: 100%;
        margin-top: 20px;
    }

    .formButton {
        padding: 0px;
        margin-left: 35px;
        margin-top: 60px;
    }

    .sponsorsTitle {
        text-align: left;
        margin-left: 40px;
        margin-top: 30px;
        font-size: 20px;
    }

    .sponsors {
        height: 460px;
        background: none;
    }

    .sponsorsIcons {
        text-align: center;
        flex-direction: column;
        padding: 0px;
    }

    .twitch {
        margin-top: 30px;
    }

    .pdp a {
        font-size: 13px;
    }

    .tyc a {
        font-size: 13px;
    }

    .copyright {
        font-size: 13px;
    }

    .logoFooter img {
        width: auto;
        height: 35px;
    }
}

@media only screen
    and (min-device-width: 641px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) { 
    .logo img {
        width: auto;
        height: 41px;
        margin-left: 80px;
    }

    #mas:hover {
        pointer-events: none;
    }

    ul {
        margin-right: 81px;
        margin-left: 0;
    }

    .nav li a {
        font-size: 15px;
    }
    
    ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        display: none;
        background: #000000;
        width: 10%;
        background: transparent;
    }
    
    ul li:hover > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        text-align: left;
        padding-top: 10px;
    }
    
    ul li ul li {
        clear: both;
        text-align: left;
        margin-bottom: 10px;
        border-style: none;
    }
    
    ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid #FFA500;
        transition: all 0.3s ease;
    }
    
    ul li a:hover {
        color: #FFA500;
    }

    .aside {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .asideImage {
        width: 100%;
        height: 12rem;
    }

    .subaside {
        width: 45%;
        margin-top: 30px;
    }

    .sponsorsIcons {
        padding-left: 100px;
        padding-right: 100px;
    }

    .all {
        background-image: url('../images/vertical.png');
        background-repeat: repeat;
    }
}

/* @media only screen
    and (min-device-width: 1025px)
    and (max-device-width: 3440px)
    and (-webkit-min-device-pixel-ratio: 1) { 
        
    .subasideTitle {
        margin-top: 0%;
    }

    .subasideContent {
        margin-top: 19%;
        font-size: 20px;
    }
} */